.para_dash{
    font-size: 55px;
    animation: pulse 30s infinite alternate;
    font-style: italic;
    font-family: fantasy;
    line-height: 130px;
}



  @keyframes pulse {
    0% {
      
        background: linear-gradient(
        150deg,
        hsl(240deg 99% 74%) 0%,
        hsl(274deg 85% 70%) 10%,
        hsl(305deg 77% 66%) 20%,
        hsl(320deg 100% 68%) 30%,
        hsl(331deg 100% 68%) 40%,
        hsl(346deg 100% 70%) 50%,
        hsl(7deg 100% 71%) 60%,
        hsl(24deg 100% 65%) 70%,
        hsl(37deg 100% 59%) 80%,
        hsl(47deg 100% 53%) 90%,
        hsl(55deg 94% 50%) 100%);

        background-clip: text;
        color: transparent;
    }
    
    10% {
      
      background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
      background-clip: text;
        color: transparent;
    }
    
    20% {
      
      background: linear-gradient(to right bottom, #5bfdca, #00efe2, #00def4, #00ccfd, #14b7fa, #24b7fa, #30b6fb, #39b6fb, #00caff, #00ddff, #00effc, #00ffef);
      background-clip: text;
        color: transparent;
    }
    
    30% {
      
      background: linear-gradient(
        150deg,
        hsl(240deg 99% 74%) 0%,
        hsl(274deg 85% 70%) 10%,
        hsl(305deg 77% 66%) 20%,
        hsl(320deg 100% 68%) 30%,
        hsl(331deg 100% 68%) 40%,
        hsl(346deg 100% 70%) 50%,
        hsl(7deg 100% 71%) 60%,
        hsl(24deg 100% 65%) 70%,
        hsl(37deg 100% 59%) 80%,
        hsl(47deg 100% 53%) 90%,
        hsl(55deg 94% 50%) 100%
      );
      background-clip: text;
      color: transparent;
      
     
    }
    40% {
      
      background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
      background-clip: text;
      color: transparent;
      
    }
    50%{
      background: linear-gradient(
        150deg,
        hsl(240deg 99% 74%) 0%,
        hsl(274deg 85% 70%) 10%,
        hsl(305deg 77% 66%) 20%,
        hsl(320deg 100% 68%) 30%,
        hsl(331deg 100% 68%) 40%,
        hsl(346deg 100% 70%) 50%,
        hsl(7deg 100% 71%) 60%,
        hsl(24deg 100% 65%) 70%,
        hsl(37deg 100% 59%) 80%,
        hsl(47deg 100% 53%) 90%,
        hsl(55deg 94% 50%) 100%);

        background-clip: text;
        color: transparent;
    }
    60%{
      background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
      background-clip: text;
        color: transparent;
    }
    70%{
      background: linear-gradient(to right bottom, #5bfdca, #00efe2, #00def4, #00ccfd, #14b7fa, #24b7fa, #30b6fb, #39b6fb, #00caff, #00ddff, #00effc, #00ffef);
      background-clip: text;
        color: transparent;
    }
    80%{
      background: linear-gradient(
        150deg,
        hsl(240deg 99% 74%) 0%,
        hsl(274deg 85% 70%) 10%,
        hsl(305deg 77% 66%) 20%,
        hsl(320deg 100% 68%) 30%,
        hsl(331deg 100% 68%) 40%,
        hsl(346deg 100% 70%) 50%,
        hsl(7deg 100% 71%) 60%,
        hsl(24deg 100% 65%) 70%,
        hsl(37deg 100% 59%) 80%,
        hsl(47deg 100% 53%) 90%,
        hsl(55deg 94% 50%) 100%
      );
      background-clip: text;
      color: transparent;
    }
    90%{
      background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
      background-clip: text;
      color: transparent;
    }
    100%{
      
        background: linear-gradient(
          150deg,
          hsl(240deg 99% 74%) 0%,
          hsl(274deg 85% 70%) 10%,
          hsl(305deg 77% 66%) 20%,
          hsl(320deg 100% 68%) 30%,
          hsl(331deg 100% 68%) 40%,
          hsl(346deg 100% 70%) 50%,
          hsl(7deg 100% 71%) 60%,
          hsl(24deg 100% 65%) 70%,
          hsl(37deg 100% 59%) 80%,
          hsl(47deg 100% 53%) 90%,
          hsl(55deg 94% 50%) 100% );
  
          background-clip: text;
          color: transparent;
    }
  }

.para_container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.para_position{
   margin-left: 2.5rem;
}

.join_now{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;

background-image: linear-gradient(
        150deg,
        hsl(240deg 99% 74%) 0%,
        hsl(274deg 85% 70%) 10%,
        hsl(305deg 77% 66%) 20%,
        hsl(320deg 100% 68%) 30%,
        hsl(331deg 100% 68%) 40%,
        hsl(346deg 100% 70%) 50%,
        hsl(7deg 100% 71%) 60%,
        hsl(24deg 100% 65%) 70%,
        hsl(37deg 100% 59%) 80%,
        hsl(47deg 100% 53%) 90%,
        hsl(55deg 94% 50%) 100%);

}

.para_join{
max-width: 70%;
color: white;
text-align: center;
font-size: 3rem;
}

.para_div_join{
  display: flex;
  justify-content: center;
}




.btn{
margin-top: 3rem;
font-family: sans-serif;
font-weight: 600;
font-size: 33px;
color: #fff;
background: linear-gradient(138deg, #d6282800 0%, #e76f5100 54%);
padding: 10px 30px;
border: solid #ffffff 4px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
border: solid 3px ;

}

.anchor_dash{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 530px) {
  .para_container{
    flex-direction: column;
    height: auto;
    text-align: center;
    
  }

  .para_dash{
    font-size: x-large;
    font-style: normal;
    line-height: 80px;
  }
  .para_position{
    margin: auto;
  }

  .join_now{
    height: auto;
  }
  .para_join{
    font-size: x-large;
    max-width: 80%;
    margin-top: 5rem;
  }
  .button_join{
    margin-bottom: 5rem;
  }
}