.nav_anchor{
    display: flex;
    justify-content: center;
    color: rgb(246, 40, 74) ;
    font-size: large;
    text-decoration: none;
}

.nav_style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 30%;
    margin: auto;
    margin-top: 3.5rem;
}