.nav_anchor{
    color: white;
    text-decoration: none;
    margin-right: 3rem;
}

.nav_position{
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
}

.nav_style{
display: flex;
justify-content: flex-end;

}

.nav_img{
    border-radius: 50%;
}

.logo_nav{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 3rem;
      
}

.logo_nav:hover{
    animation: rotate 0.5s linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.nav_anchor:hover{
font-weight: bolder;
}

@media only screen and (max-width: 530px) {
    .logo_nav{
        margin: auto;
    }
  
    .logo_div{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .nav_position{
        flex-direction: column-reverse;
    }
    .nav_anchor{
        margin: auto;
    }
    .nav_position{
        padding-top: 2rem;
    }
}